
@font-face {
    font-family: nav;
    src: url('./Raleway/static/Raleway-Medium.ttf');
}

@font-face {
    font-family: about;
    src: url('./Raleway/static/Raleway-Light.ttf');
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background-color: rebeccapurple;
    /* width: 100vw; */
    height: 7vh;
    align-items: center;
    font-family: nav;
}

.nav-btn{
    color: whitesmoke !important;
    font-size: 1.2rem;
}

@media screen and (min-width: 480px) and (max-width: 770px){

    .imagen{
        width: 60vw;
        height: 60vw;
        border-radius: 50%;
    }

    .logo-len{
        width: auto;
        height: 32vw;
    }

    .visto{
        display: none !important;
    }

}

@media screen and (min-width: 770px) and (max-width: 1200px){

    .imagen{
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
    }

    .logo-len{
        width: auto;
        height: 16vw;
    }

    #carousel-lenguajes{
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    
    .imagen{
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
    }

    .logo-len{
        width: auto;
        height: 8vw;
    }

    #carousel-lenguajes{
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    
    .imagen{
        width: 90vw;
        height: 90vw;
        border-radius: 50%;
    }

    .logo-len{
        width: auto;
        height: 30vw;
    }

    .visto{
        display: none !important;
    }
}

p, h1{
    font-family: about;
}

@keyframes subir{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(-30px);
    }
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.titulo-lenguajes{
    animation: subir 2s;
    animation-fill-mode: forwards;
}

.lenguajes{
    opacity: 0;
    animation: aparecer 2s 1s;
    animation-fill-mode: forwards;
}

#carousel-lenguajes{
    align-self: center;
}