
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

.home-view {
    background-image: url("../assets/img/homeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#nico-pic{
    border-radius: 50%;
    min-width: 75px;
    max-width: 200px;
    width: 60vw;
}

#name-tag{
    font-family: "Questrial", sans-serif;
    color: white;
    font-weight: 400;
}

#btn-contact{
    background-color: #06392e;
    border-radius: 15px;
    width: 10vw;
    min-width: 100px;
    color: aliceblue;
}

#btn-contact:hover{
    background-color: #0d6e5f;
}