
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/meo5ycu.css");
body{
    color: #d8d7d5;
    
}

#mainView{
    height: 100vh;
    background-color: #020204
   /* background-color: aliceblue;*/
}

@media (max-width: 768px) {
    #about-01 {
        background-position: top !important;
        padding-bottom: 25vw !important;
    }

    #about-01 h4 {
        width: 80vw !important;
        
    }

    #about-02{
        background-image: url("../assets/img/back02-mobile-2.png") !important;
        background-size: cover !important;
        background-position: right bottom !important;
        align-items: flex-end !important;
        padding-bottom: 30vw !important;
    }

    #about-02 h4{
        width: 75vw !important;
    }
}

@media (max-width: 676px){
    #about-skills .col{
        justify-content: center;
    }
}


#about-01{
    height: 100vh;
    background-image: url("../assets/img/back01.png");
    background-size: cover;
    background-position: top right;
    padding-bottom: 20vh;
    padding-right: 10vw;
}

#about-01 h4{
    font-weight: 300;
    width: 30vw;
}

#about-02{
    height: 100vh;
    background-image: url("../assets/img/back02.png");
    background-size: cover;
    background-position: left;
    padding-left: 10vw;
}

#about-02 h4{
    font-weight: 300;
    width: 30vw;
}

#mainView img{
    width: 20vw;
    min-width: 200px;
    max-width: 600px;
    height: auto;
    border-radius: 50%;
    margin-right: 5vw;
}

#mainView h1, h3, a{
    font-family: "raleway";
}

#mainView h1{
    font-weight: 600;
}

#mainView h3{
    font-weight: 300;
}

#mainView a{
    font-weight: 300;
    color: #020204;
    text-decoration: none;
    background: rgb(140,82,255);
    background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(255,145,77,1) 100%);
    border-radius: 16em;
    width: fit-content;
    padding-right: 5vw;
    padding-left: 5vw;
    opacity: 0.5;
    align-self: center;
}

#about-skills{
    height: fit-content;
    min-height: 100vh;
    background-color: #f6f6f6;
    padding-top: 15vh;
    /*padding-left: 9vw;*/   /* 15vw */
}

#about-skills .col{
    padding-bottom: 20px;
}

#about-skills .row{
    padding-left: 9vw;
}

#about-skills h1{
    font-family: "raleway";
    font-weight: 700;
    color: #141414;
   /* padding-left: 15vw;*/
    padding-bottom: 20vh; /* 3vh */
    font-size: 2.9em;
    text-align: center;
}

#about-skills h3{
    font-family: "raleway";
    font-weight: 500;
    color: #141414;
    padding-bottom: 1vh;
    text-align: center;
}

.carousel-item {
    display: block;
    height: auto; /* Ajusta según tus necesidades */
}

.language-card{
    width: 20vw;  /* 24.7vw */
    height: 17vw;
    min-width: 290px;   /*300px*/
    min-height: 200px;
    transition: 0.3s;
}

.language-card:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

.card-top{
    background-color: #000000;
    width: 100%;
    height: 80%;
    position: relative;
}

.card-top::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(140,82,255);
    background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(255,145,77,1) 100%);
    opacity: 0.6;
}

.card-top-img{
    position: relative;
    height: 100%;
}

.card-bottom{
    width: 100%;
    height: 20%;
    background: rgb(140,82,255);
    background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(255,145,77,1) 100%);
    position: relative;
}

.card-bottom::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #141414;
    opacity: 0.67; /* 0.65 */
}

.card-bottom-mask{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
}

.card-bottom-mask h5{
    font-family: "aileron";
    font-weight: 700;
    padding-left: 1vw;
    padding-top: 0.5vh;
    color: white;
}

#icon-lang{
    width: 10vw;
    min-width: 130px;
    height: auto;
    position: inherit;
}

.carousel{
    width: 290px;
    align-self: center;
    padding-bottom: 8vh;
}
